[push]
	default = simple
[user]
	email = piotrluczak1995@gmail.com
	name = Pejter
[core]
	autocrlf = false
[alias]
	lg = log --all --abbrev-commit --date=relative --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	s = status -s